/* this is a custom css stylesheet */


#bike {
	height: 70px;
	width: 140px;
}

#group {
	height: 230px;
	width: 250px;
}

#logo {
	height: 200px;
	width: 300px;
}

#newsize {
	height: 200px;
	width: 230px;
	margin-bottom: 20px;
}

#tryfloat {
	float: bottom;
}